<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Palunk Nighandu</title>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
      <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
        <div class="main-box" >
          <!-- topbar -->
            <%- include('./topbar', {active: "new-words"}) %>
          <!-- topbar -->
          <div class="item-left w100" >
            <p class="mt-1 welcome" >നിഘണ്ടുവിലേക് പുതിയ പദങ്ങൾ ചേർത്ത വിവരങ്ങൾ</p>
            <div class="adm-new mt-1" >

              <% newWordsData.reverse().forEach((element) => { %>
                <p>
                  <i class="fa-solid fa-arrow-right"></i> 
                  നിഘണ്ടുവിലേക്ക് 
                  <a href="/english-malayalam/<%= element.main_word %>" class="eng" ><%= element.main_word %></a>
                  എന്ന ഇംഗ്ലീഷ് പദം ചേർത്തു 

                  <ul class="list-items" >
                    <% element.changed_data.forEach((data, index) => { %>
                      <li class="result-item" >
                        <%= data.definition %>
                        <% if (data.part_of_speech !== '-') { %>
                          <span>(<%= data.part_of_speech %>)</span>
                        <% } %>
                      </li>
                    <% }) %>
                  </ul>
                  
                 <div class="amd-hold" >
                 <% if (element.user_logged) { %>
                  <a href="<%= element.user_details[0].social_media %>" class="by-user" >
                    by
                    <img src="<%= element.user_details[0].profile_picture %>" alt="">
                    <%= element.user_details[0].user_name %>
                  </a>
                 <% } %>

                 <% if (element.user_logged === false) { %>
                  <a href="/" class="by-user" >
                    by
                    <img src="/img/avatar.png" alt="">
                    Anonymous User
                  </a>
                 <% } %>
                
                 <%# contribution ok api call %>
                       <%# element._id for access change collection %>
                    <form onsubmit="return confirm('Are you sure you want to accept it?');" action="/admin/contribution-ok/<%= element._id %>/new-entries" method="post" >
                      <button class="ok" >ok</button>
                    </form>

                 <%# contribution reject api call %>
                       <%# element.changed_data[0]._id is => changed data details %>
                       <%# element.key for => find english word %>
                       <%# element._id for => access change collection %>
                       <%# element.user_id for => find user %>
                    <form onsubmit="return confirm('Are you sure you want to reject it?');" action="/admin/reject/new-words/<%= element.key %>/<%= element._id %>/<%= element.user_id || 'no_user' %>/<%= element.ref %>" method="post" >
                      <button class="reject" >reject</button>
                    </form>
                 
                 </div>

                </p>
              <% }) %>

            </div>
          </div>
        </div>
     </div>
 
     <!-- footer  -->
       <%- include('../partials/footer') %>
     <!-- footer  -->
</body>
</html>