<div class="result-title mt-1" >
    <p><span><%= english_word %></span> എന്ന വാക്കിന്റെ അർഥം</p>
 </div>
 <div class="result-meaning mt-1" >
     <ol>
      <% meanings.forEach((data, index) => { %>
        <li class="result-item" >
          <span><%= index + 1 %>.</span><%= data.definition %>
          <% if (data.part_of_speech !== '-') { %>
            <span>(<%= data.part_of_speech %>)</span>
          <% } %>
          <div title="മാറ്റുക / തെറ്റ് തിരുത്തുക" >
              <i class="fa-solid fa-pen" id="edit_meaing_icon" onclick="handleEdit('<%= _id %>', '<%= JSON.stringify(data) %>')"  ></i>
          </div>
        </li>
      <% }) %>
    </ol>
    <%#  render if edit icon clicked start %>
      <%- include('../popups/edit-word-meaning') %> 
    <%#  render if edit icon clicked start %>
</div>