<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributions - Palunk Nighandu</title>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
      <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
        <div class="main-box" >
          <!-- topbar -->
            <%- include('./topbar', {active: "contributions"}) %>
          <!-- topbar -->
          <div class="item-left w100" >
            <p class="mt-1 welcome" >താങ്കളുടെ സംഭാവനകൾ</p>
            <div class="pending mt-1" >
             <% contributions.reverse().forEach((element) => { %>

            <%# type => new-meanings start %>
             <% if (element.type === "new_meaning") { %>
              <p><i class="fa-solid fa-arrow-right"></i>  
                നിഘണ്ടുവിൽ നിലവിൽ ഉള്ള 
                <a href="/english-malayalam/<%= element.main_word %>" class="eng" ><%= element.main_word %></a>
                എന്ന വാക്കിലേക്ക് 
                 <span class="mal" >
                  <%= element.changed_data.definition %>
                 <% if (element.changed_data.part_of_speech !== "-") { %>
                  (<%= element.changed_data.part_of_speech %>)
                 <% } %>
                </span> 
                 എന്ന അർഥം ചേർത്തു
                <% if (element.approved === false) { %>
                  <span class="rejected" >(rejected by admin)</span>
                <% } %>
              </p>
             <% } %>
             <%# type => new-meanings end %>

             <%# type => edit meaning start %>
             <% if (element.type === "edit") { %>
              <p><i class="fa-solid fa-arrow-right"></i>  
                നിഘണ്ടുവിൽ നിലവിൽ ഉള്ള 
                <a href="/english-malayalam/<%= element.main_word %>" class="eng" ><%= element.main_word %></a>
                എന്ന വാക്കിലെ
                 <span class="rved" >
                  <%= element.old_data.definition %>
                 <% if (element.old_data.part_of_speech !== "-") { %>
                  (<%= element.old_data.part_of_speech %>)
                 <% } %>
                </span> 
                എന്ന അർഥം മാറ്റി 
                <span class="mal" >
                  <%= element.changed_data.definition %>
                 <% if (element.changed_data.part_of_speech !== "-") { %>
                  (<%= element.changed_data.part_of_speech %>)
                 <% } %>
                </span> 
                എന്നാക്കി

                <% if (element.approved === false) { %>
                  <span class="rejected" >(rejected by admin)</span>
                <% } %>
              </p>
             <% } %>
             <%# type => edit meaning end %>

             <%# type => new word start %>
             <% if (element.type === "new_word") { %>
              <p><i class="fa-solid fa-arrow-right"></i>  
                നിഘണ്ടുവിലേക്ക് 
                <a href="/english-malayalam/<%= element.main_word %>" class="eng" ><%= element.main_word %></a>
                എന്ന ഇംഗ്ലീഷ് പദം ചേർത്തു 

                <ul class="list-items" >
                  <% element.changed_data.forEach((data, index) => { %>
                    <li class="result-item" >
                      <%= data.definition %>
                      <% if (data.part_of_speech !== '-') { %>
                        <span>(<%= data.part_of_speech %>)</span>
                      <% } %>
                    </li>
                  <% }) %>
                </ul>

                <% if (element.approved === false) { %>
                  <span class="rejected" >(rejected by admin)</span>
                <% } %>
              </p>
             <% } %>
             <%# type => new word end %>

             <% }) %>

                
            </div>
          </div>
        </div>
     </div>


     <%# for reference %>
     <!-- <p> <i class="fa-solid fa-arrow-right"></i>  നിഘണ്ടുവിൽ നിലവിൽ ഉള്ള <a href="/" class="eng" >nothing</a> എന്ന വാക്കിലെ <span  class="rved" >ഒന്നും</span> എന്ന അർഥം മാറ്റി <span class="mal" >ഇല്ല</span> എന്നാക്കി</p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>നിഘണ്ടുവിൽ <a href="/" class="eng" >something</a> എന്ന വാക്ക് പുതുതായി ചേർത്തു
        <ul class="list-items" >
        <li>ഏതോ ഒരു കാര്യം</li>
        <li>ഒരളവില്‍</li>
        <li>ഒരംശം</li>
        <li>ഒരു കണക്കില്‍: noun</li>
        </ul>
      </p> -->
 
     <!-- footer  -->
       <%- include('../partials/footer') %>
     <!-- footer  -->
</body>
</html>