<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= english_word %> - word meaning in malayalam</title>
    <meta name="description" content="<%= english_word %> - word meaning in malayalam at palunk nighandu" />
	  <meta name="keywords" content="<%= english_word %> malayalam meaning, <%= english_word %> എന്ന  വാക്കിന്റെ അർഥം" />
    <!-- custom css  -->
    <link rel="stylesheet" href="/css/result.css">
    <!-- custom js -->
    <script src="/js/search/search.js" defer ></script>
    <script src="/js/utils/utils.js" defer ></script>
    <script src="/js/word/add-new-meaning.js" type="module" defer></script>
    <script src="/js/word/edit-word-meaning.js" defer></script>
    <%- include('../partials/header') %>
</head>
<body>
    <!-- navbar -->
     <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
        <div class="main-box" >
             <!-- search  -->
             <%- include('../partials/search') %>
             <!-- search  -->

             <%# render result list if word found start %>
             <% if (status === true) { %>
               <%- include('../partials/result') %>
             <% } %>
             <%# render result list if word found end %>

             <%# render add new word btn if word found start %>
             <% if(status === true){ %>
                <div class="pl-1 w100 mt-1" >
                 <button id="add_new_meaning_btn" >പുതിയ അർഥം ചേർക്കുക</button>
                </div>
             <% } %>
             <%# render add new word btn if word found end %>
             
             <%# render contributers list if word found start %>
             <% if(status === true){ %>

              <div class="w100 mt-1 pl-1 created-by" >
                <p class="font-bold" >ഈ പദം നിഘണ്ടുവിൽ ചേർത്തത് 👍</p>
                <a class="contributer" href="http://instagram.com/rashid.machingal" >
                  <img src="/img/avatar.png" alt="profile">
                  <p>Rashid</p>
                </a>
               </div>

              <div class="w100 pl-1" style="margin-top: 6px;" >
                <% if (contributersList.length !== 0) { %>
                  <p class="font-bold" >ഈ പദത്തിലേക്ക് സംഭാവന ചെയ്തവർ ✅</p>
                <% } %>
                <div class="w100 contributers" >
                 <% contributersList.forEach((element) => { %>
                  <a class="contributer" href="<%= element.social_media %>" >
                    <img src="<%= element.profile_picture %>" alt="profile">
                    <p><%= element.user_name %></p>
                  </a>
                 <% }) %>
                </div>
               </div>
             <% } %>
             <%# render contributers list if word found end %>
             
             <%#  render error message if word not found start %>
             <% if (status === false) { %>
                <%- include('../partials/notfound') %>
             <% } %>
             <%#  render error message if word not found end %>
        </div>
     </div>

      <%#  render if add new word button clicked start %>
      <%- include('../popups/add-new-meaning') %>
      <%#  render if add new word button clicked end %>

    <!-- footer  -->
     <%- include('../partials/footer') %>
    <!-- footer  -->
</body>
</html>